rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      
      allow write: if request.auth != null && request.auth.uid == userId
                   && request.resource.size < 100000
                   && (!('state' in request.resource.data) || request.resource.data.state is map)
                   && (!('weights' in request.resource.data) || request.resource.data.weights is list)
                   && (!('lifts' in request.resource.data) || request.resource.data.lifts is map)
                   && (!('bodyMeasurements' in request.resource.data) || request.resource.data.bodyMeasurements is list);
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
